ex00/node_modules
ex00/package-lock.json
ex00/tsconfig.json
ex00/app.json
ex00/.expo
ex00/android

ex01/node_modules
ex01/package-lock.json
ex01/tsconfig.json
ex01/app.json
ex01/.expo
ex01/android

ex02/node_modules
ex02/package-lock.json
ex02/tsconfig.json
ex02/app.json
ex02/.expo
ex02/android

ex03/node_modules
ex03/package-lock.json
ex03/tsconfig.json
ex03/app.json
ex03/.expo
ex03/android
